* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-size: 16pt;
}

.wrapper {
    margin: 0 auto;
    width: 1530px;
}

.wrapper h2 {
    margin-top: 40px;
    font-size: 32px
}

header {
    height: 70px;
    padding-top: 10px;
    background-color: #3B3937;
}

.main-menu {
    float: right;
    padding-top: 10px;
}

.main-menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 24px;
}

.main-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18pt;
}
.main-menu span {
    color: #FFD6A8;
}

.logo {
    float: left;
    margin-left: 70px;
}

.banner {
    background-image: url('img/banner.png');
    width:100%;
    height:861px;
    padding-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.banner p {
    margin-top: 70px;
}

.banner h1 {
    margin-top: 50px;
}

.banner .podpis {
    color:  #FFD6A8;
}

.nazvanie p {
    color: #ffffff;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.nazvanie h1 {
    font-size: 58px;
    color: white;
}

button {
    background-color: #A9845C    ;
    width: 250px;
    height: 82px;
    color: white;
    font-size: 1.2em;
    border: none;
    font-weight: 200;
    margin-top: 30px;
}

.nazvanie {
    width: 754px;
    height: 754px;
    margin: auto;
    background-color:  #221B1582;
    border-radius: 500px;
    padding-top: 100px;
}

.prod {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(2, 280px);
    gap: 5px;
}

.elem {
    width:230px;
    height: 230px;
    border: 1px solid black;
}

.elem img {
    padding-left: 45px;
}

.elem h3 span {
    float: right;
    color: #da7516;
    padding-right: 15px;
}

.elem h3 {
    padding-left: 10px;
}

.elem p {
    padding-left: 10px;
    padding-top: 5px;
}

.info-section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(1, 269px);
    gap: 20px;
}

.section {
    border: 1px solid black;
    width:360px;
    height:241px;
}
.section p {
    font-size: 14px;
}
.section span {
    color: #da7516;
    font-size: 12px;
    margin-top: 30px;
    padding-left: 20px;
}

.data {
    float: right;
}

.logo1 {
    width: 300px;
    height: 70px;
    padding-left: 55px;
    padding-top: 60px;
    text-align: center;
}

.logo1 p {
    color: rgb(180, 180, 180);
}

footer {
    margin-top: 50px;
    height: 400px;
    background-color: #555555;
    color: white;
}

.footer {
    display: grid;
    padding-top: 30px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(1, 197px);
    gap: 20px;
}

.text1 {
    width: 400px;
    display: inline-block;
    list-style: none;
    margin-left: 500px;
    margin-top: -150px;
}

.text1 p {
    color: rgb(180, 180, 180);
}

.text2 {
    width: 400px;
    display: inline-block;
    list-style: none;
    margin-left: 1000px;
    margin-top: -200px;
}

@media (min-width:1024px) and (max-width: 1440px) {

    .wrapper {
        width: 1140px;
    }
    
    .wrapper h2 {
        margin-top: 30px;
        font-size: 26px;
        margin-left: 30px;
    }

    .main-menu {
        padding-top: 8px;
    }
    
    .main-menu ul li{
        margin-left: 20px;
    }
    
    .main-menu ul li a {
        font-size: 16pt;
    }

    .main-menu span{
        font-size: 16pt;
    }

    .banner {
        width:100%;
        height: 650px;
        padding-top: 35px;
    }
    
    .banner p {
        margin-top: 40px;
    }
    
    .banner h1 {
        margin-top: 20px;
    }
    
    .banner .podpis {
        color:  #FFD6A8;
    }
    
    .nazvanie p {
        color: #ffffff;
        font-size: 0.9em;
        margin-bottom: 8px;
    }
    
    .nazvanie h1 {
        font-size: 44px;
        color: white;
    }
    
    button {
        background-color: #A9845C    ;
        width: 160px;
        height: 62px;
        color: white;
        font-size: 0.8em;
        border: none;
        font-weight: 200;
        margin-top: 30px;
    }
    
    .nazvanie {
        width: 500px;
        height: 500px;
        margin: auto;
        background-color:  #221B1582;
        border-radius: 350px;
        padding-top: 100px;
    }

    .prod {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(3, 280px);
        gap: 5px;
        padding-left: 30px;
    }

    .info-section {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 269px);
        gap: 20px;
        padding-left: 140px;
    }
    
    .info h2 {
        margin-top: 30px;
        font-size: 26px;
        padding-left: 140px;
    }

    .logo1 {
        width: 230px;
        height: 50px;
        padding-left: 35px;
        padding-top: 60px;
        text-align: center;
    }
    
    .logo1 p {
        color: rgb(180, 180, 180);
        font-size: 0.9em
    }
    
    footer {
        margin-top: 50px;
        height: 400px;
        background-color: #555555;
        color: white;
    }
    
    .footer {
        display: grid;
        padding-top: 30px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(1, 197px);
        gap: 20px;
    }
    
    .text1 {
        width: 400px;
        display: inline-block;
        list-style: none;
        margin-left: 250px;
        margin-top: -150px;
    }
    
    .text1 p {
        color: rgb(180, 180, 180);
        font-size: 0.9em
    }

    .text1 h2 {
        font-size: 1.0em;
        padding-right: 25px;
    }
    
    .text2 {
        width: 400px;
        display: inline-block;
        list-style: none;
        margin-left: 650px;
        margin-top: -200px;
        font-size: 0.9em
    }
}

@media (min-width:720px) and (max-width: 1024px) {

    .wrapper {
        width: 920px;
    }
    
    .wrapper h2 {
        margin-top: 20px;
        font-size: 20px;
        margin-left: 30px;
    }

    .main-menu {
        padding-top: 6px;
    }
    
    .main-menu ul li{
        margin-left: 20px;
    }
    
    .main-menu ul li a{
        font-size: 12pt;
    }

    .main-menu span{
        font-size: 12pt;
    }

    .banner {
        width: 100%;
        height: 450px;
        padding-top: 20px;
    }
    
    .banner p {
        margin-top: 30px;
    }
    
    .banner h1 {
        margin-top: 12px;
    }
    
    .banner .podpis {
        color:  #FFD6A8;
    }
    
    .nazvanie p {
        color: #ffffff;
        font-size: 0.6em;
        margin-bottom: 6px;
    }
    
    .nazvanie h1 {
        font-size: 38px;
        color: white;
    }
    
    button {
        background-color: #A9845C    ;
        width: 110px;
        height: 42px;
        color: white;
        font-size: 0.6em;
        border: none;
        font-weight: 200;
        margin-top: 30px;
    }
    
    .nazvanie {
        width: 400px;
        height: 400px;
        margin: auto;
        background-color:  #221B1582;
        border-radius: 200px;
        padding-top: 100px;
    }

    .prod {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(4, 280px);
        gap: 5px;
        padding-left: 50px;
    }

    .prodycti h2 {
        padding-left: 20px;
        font-size: 22px;
    }

    .info-section {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 269px);
        gap: 20px;
        padding-left: 60px;
    }
    
    .info h2 {
        margin-top: 30px;
        font-size: 22px;
        padding-left: 35px;
    }

    .logo1 {
        width: 180px;
        height: 40px;
        padding-left: 15px;
        padding-top: 60px;
        text-align: center;
    }
    
    .logo1 p {
        color: rgb(180, 180, 180);
        font-size: 0.6em
    }
    
    footer {
        margin-top: 50px;
        height: 250px;
        background-color: #555555;
        color: white;
    }
    
    .footer {
        display: grid;
        padding-top: 10px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(1, 197px);
        gap: 20px;
    }
    
    .text1 {
        width: 400px;
        display: inline-block;
        list-style: none;
        margin-left: 220px;
        margin-top: -150px;
    }
    
    .text1 p {
        color: rgb(180, 180, 180);
        font-size: 0.6em
    }

    .text1 h2 {
        font-size: 0.7em;
        padding-right: 25px;
    }
    
    .text2 {
        width: 400px;
        display: inline-block;
        list-style: none;
        margin-left: 550px;
        margin-top: -200px;
        font-size: 0.9em;
    }
}

@media (min-width:360px) and (max-width: 720px) {

    .logo {
        float: left;
        margin-left: 30px;
    }

    .wrapper {
        width: 620px;
    }
    
    .wrapper h2 {
        margin-top: 10px;
        font-size: 16px;
        margin-left: 10px;
    }

    .main-menu {
        padding-top: 4px;
    }
    
    .main-menu ul li{
        margin-left: 10px;
    }
    
    .main-menu ul li a{
        font-size: 8pt;
    }

    .main-menu span{
        font-size: 8pt;
    }

    .banner {
        width: 100%;
        height: 450px;
        padding-top: 20px;
    }
    
    .banner p {
        margin-top: 30px;
    }
    
    .banner h1 {
        margin-top: 12px;
    }
    
    .banner .podpis {
        color:  #FFD6A8;
    }
    
    .nazvanie p {
        color: #ffffff;
        font-size: 0.8em;
        margin-bottom: 6px;
    }
    
    .nazvanie h1 {
        font-size: 32px;
        color: white;
    }
    
    button {
        background-color: #A9845C    ;
        width: 110px;
        height: 42px;
        color: white;
        font-size: 0.6em;
        border: none;
        font-weight: 200;
        margin-top: 30px;
    }
    
    .nazvanie {
        width: 400px;
        height: 400px;
        margin: auto;
        background-color:  #221B1582;
        border-radius: 200px;
        padding-top: 100px;
    }

    .prod {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(6, 280px);
        gap: 5px;
        padding-left: 50px;
    }

    .prodycti h2 {
        padding-left: 40px;
        font-size: 20px;
    }

    .info-section {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(4, 269px);
        gap: 10px;
        padding-left: 120px;
    }
    
    .info h2 {
        margin-top: 10px;
        font-size: 22px;
        padding-left: 110px;
    }

    .logo1 {
        width: 120px;
        height: 30px;
        padding-left: 5px;
        padding-top: 60px;
        text-align: center;
    }
    
    .logo1 p {
        color: rgb(180, 180, 180);
        font-size: 0.4em
    }
    
    footer {
        margin-top: 50px;
        height: 200px;
        background-color: #555555;
        color: white;
    }
    
    .footer {
        display: grid;
        padding-top: 10px;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(1, 197px);
        gap: 20px;
    }
    
    .text1 {
        width: 250px;
        display: inline-block;
        list-style: none;
        margin-left: 180px;
        margin-top: -150px;
    }
    
    .text1 p {
        color: rgb(180, 180, 180);
        font-size: 0.6em
    }

    .text1 h2 {
        font-size: 0.7em;
        padding-right: 20px;
    }
    
    .text2 {
        width: 400px;
        display: inline-block;
        list-style: none;
        margin-left: 350px;
        margin-top: -200px;
        font-size: 1.2em;
    }
}